<%= render 'header' %>
<%= yield :new %>

<div id="redirects">
<%= link_to image_tag("arrow_left.png") + 'Back' , :back, {:title => "Back to previous page"} %>
</div>

<h3>Creating a New Article</h3>
<%= render 'form' %>
<%= yield :new_submit %>

