= form_for @user do |f|
  - if @user.errors.any?
    %h2
      = pluralize(@user.errors.count, "error")
      "prohibited this user from being saved:"
    %ul 
      - @user.errors.full_messages.each do |msg|
        %li= msg
  %p
    = f.label :username
    %br/
    = f.text_field :username
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  - @roles = @user.roles.find(:all)
  = select_tag :role_select,options_from_collection_for_select(@roles, 'id', 'title') 
  = recaptcha_tags
  = f.submit "Save User"