- content_for :new_submit do
  = form_for(@article) do |f|
    - if @article.errors.any?
      #error_explanation
        %h5
          = pluralize(@article.errors.count, "error")
          prohibited this article from being saved:
        %ul
          - @article.errors.full_messages.each do |msg|
            %li= msg
    = hidden_field_tag "back_to", @back_to
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :author
      = f.text_field :author
    .field
      = f.label :body
      = f.text_area :body
    .actions
      = f.submit 'Create!'
- content_for :edit_submit do
  = form_for(@article) do |f|
    - if @article.errors.any?
      #error_explanation
        %h5
          = pluralize(@article.errors.count, "error")
          prohibited this article from being saved:
        %ul
          - @article.errors.full_messages.each do |msg|
            %li= msg
    = hidden_field_tag "back_to", @back_to
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :author
      = f.text_field :author
    .field
      = f.label :body
      = f.text_area :body
    .actions
      = f.submit 'Save Changes'
